It is a very hot day on the Australian plains. Pretty Dick, a young boy, goes to the creek in the morning. Although he knows the area well, he gets disoriented.
An alcoholic’s friends stage an intervention and encourage him to attend a Catholic retreat.
Warning of a swarm of locusts from the north reaches a farm. It’s been seven years since the last swarm, so they expect their maize crop to be destroyed.
Ivan Ilyich lives simply, focusing on making advancement at work as he’s not eager to be around his family. One day while hanging curtains, he falls and hurts his side. When he gets it checked out, the doctor has bad news.  This story is a novella.
Kersi lives in an apartment complex in Toronto and compares it to a housing complex he remembers from India. He writes letters to his parents back home. Kersi fantasizes about women but doesn’t have any real contact with them. He signs up for swimming lessons.
Rakesh, who lives in India, is accepted to medical school. He wins a scholarship to study in America, but he doesn’t marry an American woman. He is always obedient to and respectful of his parents. His mother chooses an Indian woman for him to marry. Rakesh’s father, Varma, retires and his health deteriorates; he needs to be cared for.
After failing at a variety of assignments, Carter becomes an Army cook. He does well and is promoted. After a while, he puts more effort into the meals, improving the taste and quality of his dishes. He doesn’t think the men appreciate what they’re getting.
Desiree had been adopted as a toddler. She is now an adult with a baby of her own. She and her husband, Armand, are very happy. After a while, there are some whispers about the baby.
Caline is sleeping in a field near her isolated home when she is awakened by a stopping train. This has never happened before. She has a brief meeting with some of the passengers. She wants to find out where they’re from and where they’re going.
The narrator is tired after years of studying. She sits on a door-step with her friend Paul. He’s an idle man who likes to observe nature and people.
Tom King is an aging prize-fighter preparing for a bout. He doesn’t have a sparring partner or enough food to be at his best. Money is tight and the tradesmen won’t give him credit anymore. He needs the win bonus from his next fight for himself, his wife, and his kids.
Josepha, princess of a large ranch, and Ripley, a ranch foreman, have an encounter with a Mexican lion.
Mr. Donovan comforts a fellow boarder, Miss Conway, who is mourning the death of her fiancé.
A young woman and young man get acquainted at an expensive, but little-known, summer resort.
Miss Martha is a forty-year-old woman who owns a small bakery. She has a regular customer, a middle-aged man who always buys two loaves of stale bread, never anything else. She takes an interest in him, and tries to find a way to get to know him.
A space ship with a crew of seventeen lands on Mars. To everyone’s surprise, Mars looks like small-town America in the 1920’s. Captain John Black is hesitant to leave the ship, but after confirming the atmosphere is breathable, he allows a small party to disembark. The ship’s navigator and the archaeologist offer theories to explain what they see. They approach a house.
Douglas, an eleven-year-old, used to watch his grandmother gut and prepare chickens for supper. He was very interested in the process. He asked her if people were like that inside too. One day, an unusual man came to rent the upstairs room. He worked all night, brought his own utensils with him, and had a pocket full of new pennies.
A garbage collector gets up at five every morning to do his job. He does it well, and some days he really likes it. One day after work he’s unusually quiet. Something happened that day that changed the job for him. A new directive was issued to garbage collectors.
Leonard Mead leaves his house at 8 PM for a walk. In ten years of taking evening walks he has never met up with another person; everyone stays inside to watch television. He is spotted by the police and approached.
A man and woman meet at a cocktail party. It was lacking in the stock romantic accoutrements, but they bonded over their shared love of Laurel and Hardy. He calls her Stanley and she calls him Ollie. They leave the party to visit the stairs where Laurel and Hardy carried a piano crate. They become inseparable.
In ancient China, Emperor Yuan is relaxing when a servant excitedly gives him the news that a man was seen flying with wings. The Emperor enjoys simple things, and this amazing development makes him think about his people’s safety and way of life.
William Stendhal is given the key to his new house on Mars. The architect has made it just as William wanted—desolate, terrible, and hideous. All life has been exterminated around the house and hidden machines block out the sun. Years ago on Earth, all horror and fantasy stories were banned. William lost his huge library. Now he’s built the House of Usher from Poe’s story, and he has a plan for revenge.
A man asks his wife what she would do if this was the last night of the world. He tells her that really is the situation they’re in. He dreamed about it, and everyone at his office did too. His wife and the other neighborhood women also dreamed about it.
The king loves jokes, especially practical jokes. His court jester, or “fool”, is a dwarf and a cripple named Hop-Frog. The king treats him badly, but Hop-Frog does his best to get by. A great state party is approaching, so the king turns to his “fool” for some costume advice.
The narrator, a condemned man, relates how he came to blind and, later, kill a cat due to his loss of control from drinking. A second cat eventually comes into his home, causing a further escalation of hostilities.
Two hit men, Max and Al, enter a diner to get some food and to wait for their target to arrive. They’re looking for a boxer, Ole Andreson, whom their employer has a grudge against.
A doctor recounts the christening custom of his god-son’s people, where the baby is left exposed to the cold.
A woman rescues a stray cat that seems to show appreciation for the piano music she plays. She comes to believe that the cat is the reincarnation of a famous composer.
When a large turtle lands on a resort’s beach, people want to kill it for the meat and shell. A boy tries desperately to save the turtle.
There’s a wild, feral boy in the woods. He infiltrates a man’s home.
A man is visiting the country for some relaxation. While waiting to be introduced to all the members of the household, a young girl tells him the story of their tragic family history.
At a party at a country house, a guest announces that he can teach animals to speak. As proof he produces the host’s cat, Tobermory, who proceeds to embarrass the guests by revealing details of private conversations.
It is summer and Myers has just finished a month of sobering up. He takes a bus to a town near the ocean and rents a room from Sol and Bonnie. Myers doesn’t say much about himself. His landlords speculate a bit about him.
A mother and father are preparing for their son’s eighth birthday. The son gets hit by a car on his way to school one morning, but seems all right and makes his way home. Shortly after, he loses consciousness.
A group of men, including a coroner, are seated around a table with a dead man on it. They’re conducting an inquest into his death. They’re joined by a young man from the city. He’s a reporter who has investigated the man’s death and was with him when he died. He’s questioned about the day’s events.
A hand addressed package is left at the door of Arthur and Norma Lewis. Inside is a contraption with a button on it, and a note saying that Mr. Steward will call on them at 8 PM. He arrives at the appointed time and makes them a startling proposition.
