Farrington is criticized at work and then leaves for a drink, causing further reproof when he returns.
An adult narrator talks about his boyhood with his mother while his father was away at war. He was close to his mother, and his father’s occasional visits didn’t disrupt his routine. He wanted a baby in the house because all the other families had one.
Mrs. Kearney arranges for her daughter to play the piano at a series of concerts. The concerts are poorly attended, and Mrs. Kearney worries that her fee will be withheld.
Mr. Nilson perceives a peculiar sensation in his throat, leading him to take a morning walk in the nearby gardens to shake this uncomfortable feeling. During his trip, he sees Mr. Tandram which makes him feel awkward because they have never spoken even though they’re neighbors.
A young English couple rent a house in Italy because it has a great view, and a local peasant boy, Guido, makes an excellent playmate for their own son. Guido is a gifted child, with an affinity for music, and a natural understanding of mathematics. The landlady wants to adopt Guido to mold him and make money from his talents.
A captured French soldier escapes but gets stranded in the desert, and encounters a panther.
The narrator and Yermolai go out hunting. They seek shelter at a miller’s home, and Yermolai seems to know the miller’s wife.
A young girl goes to a cobbler for some help for her brother. He has his arm stuck in a tree, and there’s a storm coming. They walk together and talk about nature.
Two life-long white collar government workers find themselves transported to a deserted island. Their skills of keeping records and writing reports prove useless in their new environment. They realize that if they could just find a peasant he could look after everything.
Two men—schoolmates as boys—meet unexpectedly at a train station and are delighted to see each other. They talk about their lives; one bit of information changes the thin man’s view of his old friend.
Miss Minnie Cooper has accused a black man, Will Mayes, of attacking her. Some of the town’s men discuss the accusation at a barbershop. They are easily riled against Mayes and make plans to mete out justice themselves.
Murray is in a cell on death row. The time for his execution is almost here. He talks to his friend Bonifacio in a nearby cell. He is also visited by a reverend.
Telemachus Hicks tells the story of his mutilated left ear, which he claims is a relic of true friendship. He spent all his time with his best friend Paisley Fish. When they meet the Widow Jessup they are both attracted to her. The make a pact that they will court her fairly and equally, and that it won’t interfere with their friendship.
Mr. Chandler, a man of modest means, saves his money for an occasional night out. On one such excursion, he helps a young woman who has fallen, and asks her to dine with him.
Cora and Tom live in the Missouri mountains in a sparsely populated area. She’s excited this morning because her nephew Benjy is coming to visit. He’s going to teach her to write so she’ll be able to send and receive letters. Her neighbor, Mrs. Brabbam, is always flaunting the mail she gets, while Cora has never gotten any mail.
Four survivors of a rocket crash on Venus are trudging through the jungle in heavy rain. They’re looking for a Sun Dome, a structure with hot food, dry clothes, and an artificial sun inside. The rain is unceasing. It puts a great mental strain on the travelers. They press on as they try to maintain their resolve.
Saul wakes up on Mars, quarantined because of the “blood rust.” He longs to be back in New York. He’s lonely. The sickness makes it difficult for people to talk. A rocket lands and hastily drops off another exile. Saul runs to meet him. He’s a young man named Leonard, still relatively healthy, and he has a valuable ability.
Humans are living on Venus. The children are eagerly awaiting an event that scientists have confirmed: it will stop raining for two hours, the only break from rain in seven years. The kids speculate about what the sun is like. One student remembers the sun from earth, but the others don’t believe her.
Edwin and his mother live in a mansion surrounded by trees. Edwin has been taught that the outside world is nothing but forest populated by dangerous Beasts. His father was killed by one of them. His mother keeps him inside and doesn’t even want him looking out the windows. The only other person he sees is his teacher in the upper part of the house. She reinforces his mother’s directives.
A city has been waiting twenty thousand years for a particular type of visitor. A rocket lands and a party disembarks. The city’s various automated functions start working to analyze the visitors. The landing party is armed and they proceed cautiously.
While doing her daily chore of wiping the crumbs off the dining table, Miss Willerton thinks about ideas for a story. She settles on writing about a sharecropper because it’s an arty subject with social implications.
An extended family is headed to Florida for a vacation. The grandmother wants to go to Tennessee instead, so she talks about an escaped murderer—The Misfit—who is suspected to be on his way to Florida.
Mrs. Hopewell is a widow who runs her farm. Her daughter, Joy, has an artificial leg from a hunting accident as a child. Mrs. Hopewell is a Christian; Joy is an atheist with a Ph.D. Mrs. Hopewell likes “good country people”, like her hired tenants, the Freemans. She and Mrs. Freeman like exchanging platitudes. Joy is introverted and believes she has life figured out. One day, a traveling Bible salesman calls on Mrs. Hopewell.
A Polish refugee and his family arrive at Mrs. McIntyre’s farm to work for her. The man, Mr. Guizac, proves to be an industrious and efficient worker. The Shortleys, a couple who also work on the farm, become concerned about their position. Mrs. McIntyre rules over her little domain, managing her affairs to give herself the most profit.
The narrator shares a residence with Dupin, a man with superior analytical skills. They like spending their time in seclusion reading, writing, and talking to each other. One day, they read a newspaper report of the violent murder of two women.
An unnamed narrator describes how he killed a man; he tries to convince his listener of his sanity and wisdom. He believed his boarder, an old man, watched him with an “Evil Eye.”
Mathilde borrows a necklace from a rich friend to wear to a party, but she loses it.
The narrator’s old acquaintance tells him the story of Mother Sauvage. Her son went to war fighting the Prussians. Meanwhile, Prussian forces occupy her home territory, and she has four soldiers assigned to live in her home. Both sides understand the situation, and she treats them well. When she gets news of her son’s death her attitude towards them changes.
A celibate and repressed vicar rebuffs the advances of the many spinsters in his parish.
Robert is out walking late at night trying to keep his mind on good memories. His thoughts go to earlier in the day when his wife discovered a splinter in his foot. Somehow, he hadn’t noticed it. She tests his sensation with a pin. He remembers some examinations he had at the doctor’s a year ago.
A pilot recounts something that happened to him during wartime. He can’t remember everything – not before, only when it happened. There was trouble, but he was flying too low to bail out. It continues to get worse.
Lady Turton behaves indiscreetly at a dinner, paying undue attention to a male guest. Her husband is aware, but he doesn’t take any action.
Hermann the Irascible rises to the British throne and makes many changes. His Prime Minister complains that the Suffragette movement is interfering with many government meetings. Hermann devises a plan to solve the problem.
Mrs. Packletide wants to shoot a tiger to outshine a rival. She plots to do it in an easy way, but something goes awry.
A woman is sitting in her kitchen in the dark looking out the window. The house she’s watching has the bedroom shade up and the light on. She’s been watching a man in this house for some time. He comes out on his back porch. The woman excitedly calls her husband to come look.
Claire’s husband doesn’t want to answer the phone and doesn’t want to be judged by anyone. His name and the names of three friends are on the front page of the paper. While they were on a fishing trip, they found a dead woman. They reported the incident to the police, but not until they came back two days later.
A private detective sits in his office drinking and cleaning his gun. A beautiful woman comes in and shows him a picture of a dead man. She says he was her brother. The death was ruled an accident but she believes he was murdered.
Beauty Boy and Lilymary get married. They work to better themselves. They have a child and things get tough.
A fifteen-year-old boy wakes up at 4:30 AM to go hunting. He’s excited and energetic, loving life and feeling he is in control of everything.
A man is on a bridge in Alabama, his hands bound and a rope around his neck. He’s a civilian, a confederate sympathizer, and is being held by Federal soldiers. He’s been sentenced to hang from Owl Creek Bridge during the American Civil War.
An old house in Missouri has been unoccupied for years and will probably stay that way—it has an evil reputation. It’s decayed and overrun by a large vine. The Hardings lived there along with the wife’s sister. In 1884 the husband said his wife had gone to visit her mother.
