Two men, Lenehan and Corley, walk around Dublin as Corley talks about a maid he is seeing. She takes small items for him from her employer. The men have a plan to get her to steal some money for them.
A boy wants to go to a bazaar to get something for his crush, the older sister of a neighbor friend.
Mr. Duffy begins an innocent relationship with a married woman, Mrs. Sinico. After spending a lot of time together, Mrs. Sinico takes Mr. Duffy’s hand.
A seven-year-old boy, Jackie, has to make his first confession before taking Communion. Jackie is concerned because he doesn’t like his grandmother, who has recently come to live with him, and an elderly woman has impressed upon him the seriousness of his confession.
At night a sniper waits on a rooftop. He risks lighting a cigarette which alerts a nearby sniper of his presence.  They exchange some fire. The sniper feels trapped, but he knows he has to get off the roof before enemy forces converge on him.
Mourners are gathering for the funeral procession of a young woman who drowned. They talk about how terrible it is and the conversation also turns to more personal, practical matters.
A young boy learns of the death of a priest, Father Flynn, who had been a mentor to him.
Mrs. Mooney, who runs a boarding house, angles to marry off her daughter to one of her boarders.
Two boys skip school to walk around Dublin. They experience social activities and interact with the people they meet.
Jimmy Doyle spends a day with wealthy friends riding in a fancy car, thinking about an investment he made, and attending a formal dinner party.
The narrator relates the day of his eighteenth birthday. He says his failure to urinate immediately after breakfast led to his orphanage being burnt down. A letter arrived for him that morning. Before he could read it, Brother Madrigal took it, saying he could read it that evening.
Mr. Nilson perceives a peculiar sensation in his throat, leading him to take a morning walk in the nearby gardens to shake this uncomfortable feeling. During his trip, he sees Mr. Tandram which makes him feel awkward because they have never spoken even though they’re neighbors.
Two sailors between jobs want to save their money. They get some money advice from an experienced sailor, and he offers to hold their money for them, giving them a moderate allowance so they don’t waste it all.
A merchant sells a love potion for a surprisingly low price, but he sells another item at a much higher price to make up for it.
The Sheridans, an upper-class family, are making preparations for a garden party. Before it starts, they hear that a working-class neighbor has just died.
Valentin, head of the Paris police and famous investigator, is in London on the trail of criminal mastermind Flambeau. While having breakfast at a restaurant, Valentin gets his first lead when he learns that two clergyman had stopped in earlier and one of them had made a mess before leaving. Valentin is open to oddities so he follows up on this unusual incident.  This story is the first appearance of the famous Father Brown.
A visiting dignitary is given a tour of a penal colony, particularly its justice/torture machine. The machine is falling out of favor, and an officer wants the visitor to speak against it to the commandant.
A husband and wife go to a restaurant for supper. The man sees his ex-wife seated at a nearby table. The man and his new wife talk about his ex.
A man goes to a curiosity shop looking for a paperweight. He buys a mummified foot that is supposedly the four-thousand-year-old foot of Egyptian princess Hermonthis. Later that night he has a strange episode.
A man’s landlady tells him part of the story of an old dilapidated house involving a Spanish prisoner of war. It’s unclear what became of him so the man tries to get the rest of the details from the housekeeper.
Jean Leturc has been in trouble with the law since he was ten. After many years he finds legitimate work and tries to go straight.
A doctor makes an urgent house call where a beautiful young woman is in a bad condition. He tries to reassure her family even though a recovery is unlikely.
A fickle narrator begins telling the story of Anton Mikhailovich but doesn’t get far.
A man at a dinner party is mistaken for someone else and kissed by an unknown woman in the dark. It affects him deeply and fires his imagination.
A doctor saves the life of a boy, the only son of his mother. They are poor bronze dealers, so they have no money to pay. To express their deep gratitude, the boy presents the doctor with an antique bronze work of art. It’s not to the doctor’s taste.
Dmitri is unhappily married, unfaithful to his wife, and has a low opinion of women. While on vacation he meets a young woman, also married, and they have an affair. After Dmitri returns to his routine he finds that he can’t stop thinking about her.
The Uskov family has a serious matter to discuss, so they send their servants away for the evening. Sasha Uskov has forged a promissory note and is now in debt. His uncles have gathered to debate the merits of their options: paying the debt to avoid scandal or letting Sasha go to trial and face the consequences of his crime.
Kersi lives in an apartment complex in Toronto and compares it to a housing complex he remembers from India. He writes letters to his parents back home. Kersi fantasizes about women but doesn’t have any real contact with them. He signs up for swimming lessons.
Shaila Bhave is an Indian Canadian woman mourning the loss of her husband and two sons in a plane crash. She is in a daze, and everything seems to remind her of her loss.
A newlywed Indian couple has just moved into a new house in America. As they prepare the house, the wife finds many Christian items left by the previous owners. She likes them and wants to keep them, but her husband disapproves.
Old Het excitedly informs Mannie Hait that there’s a mule in her yard. This isn’t the first time it has happened. Mannie is annoyed, and she deals with the problem.
Aileen is in a small plane on her way to Columbia to visit her mother. She rereads a letter which says her mother and Prue (a woman she lives with) are happy there, that she feels a bit guilty about not saying goodbye, and that she will like Prue despite the tension between them.
An old woman lives in a hollowed out cave that her sons had prepared for her before they left to live in the town. She is content there and doesn’t talk to anyone who passes by. The cave is also home to many scorpions.
A young girl is killed by dogs. Some men in the village look for the dogs and shoot them. They turn their attention to other dogs that might also be dangerous. Their enthusiasm for making the village safe gets out of hand.
The narrator is a waiter/stripper at a restaurant for women. He lives in a subsidized apartment with his sister, Min; his cousin, Jade; and his aunt, Bernie. Min and Jade also have babies. They don’t have much and they live in a bad area. The narrator gets a panicked call from Min while he’s at work.
An African-American woman, La Folle, was frightened “out of her senses” as a child. As a result, she won’t cross an imaginary line in her area; she has never been beyond the bayou.
Mildred Orme, a young woman, is staying at an acquaintance’s country house. She spends her days sitting on the front porch, reading. One day when the farmhands are coming in for lunch, one of her papers blows off the railing. A young man hands it to her; he stays on her mind in the coming days.
The narrator is tired after years of studying. She sits on a door-step with her friend Paul. He’s an idle man who likes to observe nature and people.
Sitka Charley is an Indian who has left his own people to learn the white man’s sense of honor and the law. He’s a member of a traveling party led by Captain Effingwell. Only Sitka and the Captain are armed. Sitka warns two other Indians with their crew to carry out their duties properly.
Sitka Charley is relaxing after a day on the Alaskan trail. He and the narrator start talking about a painting, which reminds Sitka of an arduous journey he once made. When he was a letter carrier on Lake Linderman, a young woman hired him to take her to Dawson. Then she hires him to travel with her. She is desperately looking for something but doesn’t tell him what.
Tom King is an aging prize-fighter preparing for a bout. He doesn’t have a sparring partner or enough food to be at his best. Money is tight and the tradesmen won’t give him credit anymore. He needs the win bonus from his next fight for himself, his wife, and his kids.
A group of men are in the Alaskan wilderness in a bar after a long day’s work. A visitor named Westondale comes in, tells a story about following someone, talks about his family, and asks to be awakened in a few hours so he can continue on his journey. Shortly after the police arrive with a different story.
A young woman goes to live with her uncle, forming a love-triangle with his adopted son and step-niece.
A man and woman who aren’t on speaking terms use a young boy to run messages to each other in a park.
Jack is in love with Mildred, a woman above him socially and financially. He explains his situation to a vagrant. The vagrant, an ex-boxer, tells Jack the story of his career, which he believes serves as a parallel to Jack’s situation—he couldn’t stand up to the professionals.
The narrator is sitting in a crowded café when he is joined by a true citizen of the world. E. Rushmore Coglan talks about his travels and his familiarity with the globe. He proclaims his impartiality and decries any attachment to a particular place.
An older, upper-class man has a tradition of treating a local destitute man to a hearty Thanksgiving meal. One year, the poor man arrives at their meeting place in a state that puts their tradition in jeopardy.
The movement of a daily newspaper is tracked, along with the uses it is put to.
A ranger, Lieutenant Sandridge, searches for the Cisco Kid, a murderer with a quick temper and quick draw.
Robert Walmsley, a former country boy, is a successful Manhattan lawyer and respected city gentleman. He married a high-status, inaccessible woman, Alicia Van Der Pool. One day she finds a letter from Robert’s mother, inviting them to visit the farm.
A policeman makes his rounds, checking that the shop doors are secured for the night, when he sees a man waiting in an entrance way. The man explains that he and a friend made arrangements twenty years ago to meet there that night.
Miss Martha is a forty-year-old woman who owns a small bakery. She has a regular customer, a middle-aged man who always buys two loaves of stale bread, never anything else. She takes an interest in him, and tries to find a way to get to know him.
Saul wakes up on Mars, quarantined because of the “blood rust.” He longs to be back in New York. He’s lonely. The sickness makes it difficult for people to talk. A rocket lands and hastily drops off another exile. Saul runs to meet him. He’s a young man named Leonard, still relatively healthy, and he has a valuable ability.
A rocket ship is torn open, throwing the crew out to drift helplessly in space. Their suits allow them to maintain communication for a while. They try to figure out where they’re headed. They reflect on their lives.
A garbage collector gets up at five every morning to do his job. He does it well, and some days he really likes it. One day after work he’s unusually quiet. Something happened that day that changed the job for him. A new directive was issued to garbage collectors.
A stranger arrives in Green Town. He runs into Ralph Spaulding, a twelve-year-old boy, who brings him to a boarding house. He signs in as “Charles Dickens”. Ralph is impressed to be in the presence of the famous author. The adults humor him for a while. Ralph helps the stranger write his novels.
Alice Leiber thinks she’s being murdered. No one else knows—not her husband, David; or the doctors and nurses. She’s been targeted by a small assassin. Doctor Jeffers tells David that Alice is going to need lots of support to get through these feelings.
Mr. Howard, a teacher, has a breakdown after a disturbing incident in his classroom. He quits, moves to a small town, and makes his living writing. After seven years of this life, a fellow teacher and friend falls ill. A substitute is desperately needed. Mr. Howard is persuaded to come out of retirement for this temporary assignment.
Mr. Tridden stops the trolley in the middle of the block and calls out to the local children. It’s time for their last ride. Mr. Tridden is retiring tomorrow and the trolley is being decommissioned. It will be replaced by a bus.
A man and woman meet at a cocktail party. It was lacking in the stock romantic accoutrements, but they bonded over their shared love of Laurel and Hardy. He calls her Stanley and she calls him Ollie. They leave the party to visit the stairs where Laurel and Hardy carried a piano crate. They become inseparable.
William Stendhal is given the key to his new house on Mars. The architect has made it just as William wanted—desolate, terrible, and hideous. All life has been exterminated around the house and hidden machines block out the sun. Years ago on Earth, all horror and fantasy stories were banned. William lost his huge library. Now he’s built the House of Usher from Poe’s story, and he has a plan for revenge.
Mr. Benedict is the mortician of a small town. He’s built up a good business over the years. Despite his success, he feels inferior to others and is the butt of many jokes. He looks forward to the time he can spend in his mortuary with the bodies. He likes the power reversal his work affords.
Lavinia and Francine are walking to Helen’s on a summer evening. They’re all going to see a movie. They cut through the ravine, even though Francine is worried about The Lonely One, a serial killer who’s been targeting local women. They come upon the body of a recently missing woman. Francine is distraught, but Lavinia convinces her to keep going.
The narrator tells the story of his time in Dublin working as a screenwriter. Every night after collaborating with his producer-director, he would call Heber Finn’s Pub for his cab driver, Nick, who would take him to his hotel. On the night before Lent, the narrator asks Nick what he’s going to give up.
A city has been waiting twenty thousand years for a particular type of visitor. A rocket lands and a party disembarks. The city’s various automated functions start working to analyze the visitors. The landing party is armed and they proceed cautiously.
An old woman and her daughter live on a run-down farm. The woman hires a drifter, Mr. Shiftlet, to do work around the place in exchange for shelter. She’s angling to marry off her daughter to him.
Mrs. Hopewell is a widow who runs her farm. Her daughter, Joy, has an artificial leg from a hunting accident as a child. Mrs. Hopewell is a Christian; Joy is an atheist with a Ph.D. Mrs. Hopewell likes “good country people”, like her hired tenants, the Freemans. She and Mrs. Freeman like exchanging platitudes. Joy is introverted and believes she has life figured out. One day, a traveling Bible salesman calls on Mrs. Hopewell.
General George Poker Sash is a 104-year-old American Civil War veteran. He gets invited to attend some events because of his age and veteran status. His granddaughter, 62-year-old Sally Poker, prays that he will live to attend her college graduation so everyone will see she has a superior background.
While a man gets his hair cut, his barber ridicules his liberal views, especially his support of a black candidate in the neighborhood.
A famous gorilla from the movies is making a tour of some small theatres. Enoch Emery goes to meet it, with the plan of insulting it. When he gets embarrassed at the event, he decides to do something about it.
Parker is dissatisfied with his life. He’s not sure why he’s still with his wife—a deeply religious woman—and she’s pregnant. His main focus has been to get tattoos; there’s no room left on the front of his body. While driving a tractor, he has an experience that proves to be a turning point for him.
There are reports of a wildcat loose in the area. The young men are planning to hunt it down, while “Old Gabriel”, an elderly, blind man, is afraid of being attacked by the cat, which he claims to be able to smell.
Harry, a young boy, is picked up early in the morning by his babysitter, Mrs. Connin. His mother is sick. Mrs. Connin is going to take him to see the Reverend Bevel Summers, a traveling preacher who’s going to perform a healing at a local river.
The king loves jokes, especially practical jokes. His court jester, or “fool”, is a dwarf and a cripple named Hop-Frog. The king treats him badly, but Hop-Frog does his best to get by. A great state party is approaching, so the king turns to his “fool” for some costume advice.
The narrator, a condemned man, relates how he came to blind and, later, kill a cat due to his loss of control from drinking. A second cat eventually comes into his home, causing a further escalation of hostilities.
Egaeus and Berenice, cousins, grew up together in the family mansion. Egaeus is gloomy and obsessive; Berenice is energetic and lively. They are going to be married. Berenice gets a degenerative sickness. Egaeus begins to focus on her teeth.
An unnamed narrator describes how he killed a man; he tries to convince his listener of his sanity and wisdom. He believed his boarder, an old man, watched him with an “Evil Eye.”
At a train station, a man and woman have a casual conversation which transitions into something serious. It’s not explicitly stated what they’re talking about.
A dead woman’s adult children, a judge and a nun, sit vigil and read her old letters which reveal a secret from her past.
A woman makes a death-bed confession to her older sister about something that happened over 40 years ago.
A doctor recounts the christening custom of his god-son’s people, where the baby is left exposed to the cold.
Claud and Clarice go to her father’s place for the evening. Claud speaks in vague terms about money-making ideas. Mr. Hoddy presses him for details, making it a bit uncomfortable.
An English pilot ejects from his plane and lands on a Greek island. He searches the deserted town for a boat that can take him to the mainland.
At their dinners, a wine connoisseur and his host make small bets on whether the expert can identify the wine being served. At one dinner, the betting escalates as both men feel they can’t lose.
An old man thinks he hears a noise. He comes outside and listens. He hears the high-pitched yelp of a dog coming from the shed of his neighbor, Judson.
A pilot recounts something that happened to him during wartime. He can’t remember everything – not before, only when it happened. There was trouble, but he was flying too low to bail out. It continues to get worse.
A man lies motionless in his bed, terrified, because a poisonous snake is under the covers on his stomach. When his roommate gets home, he sends him to get a doctor.
An antiques dealer works a con to buy valuable items from unsuspecting country dwellers. On one trip, he makes the find of his life and tries to get it for next to nothing.
Peter Williamson, an injured WWII pilot, bails out of his plane and wakes up in a Brighton hospital, but he notices some unusual things.
Laura, who expects to die soon, believes she will be reincarnated as something suitable to her behavior and personality, probably an otter.
A woman gets in the habit of telling the truth – first in small things, eventually in everything. It affects her socially.
A ten-year-old boy, Conradin, seeks refuge from his cousin and guardian by playing in a tool shed. He has two pets there, a hen and a ferret. He imagines the ferret is a god.
At a train station, a mischievous woman poses as the governess that Mrs. Quabarl has been expecting.
A farmer, Tom Yorkfield, gets a visit from his half-brother, Laurence, a painter of animals.
Bertie and Odo are discussing which horse they should bet on in an upcoming race. There is no clear favorite. Sir Lulworth adds to the confusion with an insider tip. When Lola says she dreamt of the race, everyone is attentive.
A man is visiting the country for some relaxation. While waiting to be introduced to all the members of the household, a young girl tells him the story of their tragic family history.
The Cricks and the Saunderses are the only two families for miles. One of the Crick hens gets onto the neighbors property, sparking an outburst.
While on vacation together in Rome, two middle-aged women talk about their past and their daughters.
A woman walks the docks in London as she has for a long time. You’re under an awning to get out of the rain. She sees you and starts talking about her son.
A private detective sits in his office drinking and cleaning his gun. A beautiful woman comes in and shows him a picture of a dead man. She says he was her brother. The death was ruled an accident but she believes he was murdered.
A young boy asks a visitor, his sister’s boyfriend, to tell him a bedtime story. They start the long walk upstairs. The boy talks about Click-clack the Rattlebag. The boyfriend isn’t familiar with this and asks him a bit about it.
The narrator visits his friend Duncan when he’s in New York. The narrator is promoting his new novel while Duncan has an idea for one. They go out to dinner to talk about their writing. They are joined by a woman Duncan is breaking up with.
Hamid is flying to Turkey to buy his stock of carpets for his business in New York. Years ago he had been Saddam Hussein’s Minister of Agriculture. When he was fired, he and his wife were able to escape the country before he “disappeared”. He is thrilled with the freedom of the United States and, as a political refugee, must stay out of Iraq at all costs.
A woman frets over a late phone call and wonders if she should call him instead.
The narrator moves into a room previously occupied by several people who moved away without a forwarding address or being missed. She can hear her neighbors sometimes, but has little interaction with others.
A man is on a bridge in Alabama, his hands bound and a rope around his neck. He’s a civilian, a confederate sympathizer, and is being held by Federal soldiers. He’s been sentenced to hang from Owl Creek Bridge during the American Civil War.
During the American Civil War, Carter Druse, fighting for the North, falls asleep at his sentry post but wakes in time to catch a spy for the South.
A group of men, including a coroner, are seated around a table with a dead man on it. They’re conducting an inquest into his death. They’re joined by a young man from the city. He’s a reporter who has investigated the man’s death and was with him when he died. He’s questioned about the day’s events.
A hand addressed package is left at the door of Arthur and Norma Lewis. Inside is a contraption with a button on it, and a note saying that Mr. Steward will call on them at 8 PM. He arrives at the appointed time and makes them a startling proposition.
