Mrs. Cross and Mrs. Kidd live at Hilltop Home, a nursing facility. They have known each other for eighty years. They have stayed fairly close, even though there are many differences between them. Their daily routine changes with the arrival of a new resident, Jack, a fifty-nine-year-old who can’t speak due to a stroke.
Two young guys drive into a small town looking for some girls to spend the weekend with. They meet Adelaide and then go to the home of her friend Lois, and meet her family.
Fiona, seventy-years-old, is preparing to leave home for good. A little over a year ago, she started leaving little notes around the house identifying the contents of drawers. Her husband, Grant, takes her to the facility in January. Fiona remembers many things from her past so he wonders if she really needs to go.
The narrator is going to college. She lives in a rooming house with a few other students. Every other Sunday she goes to dinner with her mother’s bachelor cousin, Earnest. Her new roommate, Nina, has a complicate history. Her movements are watched by Mrs. Winner on behalf of Mr. Purvis, who has helped her out.
During the American Civil War, Carter Druse, fighting for the North, falls asleep at his sentry post but wakes in time to catch a spy for the South.
An old house in Missouri has been unoccupied for years and will probably stay that way—it has an evil reputation. It’s decayed and overrun by a large vine. The Hardings lived there along with the wife’s sister. In 1884 the husband said his wife had gone to visit her mother.
A man is on a bridge in Alabama, his hands bound and a rope around his neck. He’s a civilian, a confederate sympathizer, and is being held by Federal soldiers. He’s been sentenced to hang from Owl Creek Bridge during the American Civil War.
A six-year-old boy, who is a deaf-mute, wanders off one afternoon. He gets scared by a rabbit and then runs off and hides, falling asleep. He wakes up to an unusual sight.
A group of men, including a coroner, are seated around a table with a dead man on it. They’re conducting an inquest into his death. They’re joined by a young man from the city. He’s a reporter who has investigated the man’s death and was with him when he died. He’s questioned about the day’s events.
Warning of a swarm of locusts from the north reaches a farm. It’s been seven years since the last swarm, so they expect their maize crop to be destroyed.
The narrator moves into a room previously occupied by several people who moved away without a forwarding address or being missed. She can hear her neighbors sometimes, but has little interaction with others.
A fifteen-year-old boy wakes up at 4:30 AM to go hunting. He’s excited and energetic, loving life and feeling he is in control of everything.
During a heat wave, a young woman suns herself on the top of a building. On a nearby roof top, three men are working. They all have different reactions to her.
Judith is a single, childless, English woman who lives alone. Judith’s friends narrate the story, speaking about her disposition and life, making judgments on her behavior and interpreting her actions.
An eleven-year-old boy, Jerry, is vacationing with his mother at the beach. Jerry joins a group of older boys who are swimming, but because he is young and foreign they ignore him. They are swimming through a rocky tunnel and Jerry is also determined to do it.
A man and woman go into a Paris cafe. They have little energy or desire for anything in the cafe. There is some hostility between them.
A woman frets over a late phone call and wonders if she should call him instead.
A woman at a party accosts her host to ask a favor. She wants to meet the guest of honor, Walter Williams, an African American singer. She assures her host she doesn’t care at all that Williams is colored, unlike her husband who isn’t as open-minded as she is.
The narrator describes a race of people, Good Souls, who, while looking like everyone else, are actually quite different.
A woman agrees to dance with a man even though she doesn’t want to. Although she is annoyed with his clumsiness, she is extremely tactful.
A young man eases himself into a chair after getting up at 4PM. A young woman offers him a drink, but he says he is finished with alcohol. He claims to feel great, but he can’t remember last night; she fills in the details for him.
Egaeus and Berenice, cousins, grew up together in the family mansion. Egaeus is gloomy and obsessive; Berenice is energetic and lively. They are going to be married. Berenice gets a degenerative sickness. Egaeus begins to focus on her teeth.
The king loves jokes, especially practical jokes. His court jester, or “fool”, is a dwarf and a cripple named Hop-Frog. The king treats him badly, but Hop-Frog does his best to get by. A great state party is approaching, so the king turns to his “fool” for some costume advice.
The narrator, a condemned man, relates how he came to blind and, later, kill a cat due to his loss of control from drinking. A second cat eventually comes into his home, causing a further escalation of hostilities.
The narrator, Montresor, tells the story of how he sought revenge against a man, Fortunato, who insulted him. He was careful to hide his feeling of ill-will toward the man. They meet one evening at a carnival, after Fortunato has been drinking. Using Fortunato’s knowledge of wine as bait, Montresor says he has paid full price for a shipment of Amontillado that might not be genuine. His target insists on lending his expertise immediately.
The narrator visits his friend Roderick who, along with his sister, is suffering from an unusual illness. Roderick’s sister dies, so the narrator helps him entomb her in the house before a permanent burial is arranged.
Prince Prospero invites a thousand nobles to his castle where they seek refuge from a plague, The Red Death, which is devastating the population. They plan to wait it out, having welded the doors shut. The prince holds a masquerade party as a diversion.
The narrator shares a residence with Dupin, a man with superior analytical skills. They like spending their time in seclusion reading, writing, and talking to each other. One day, they read a newspaper report of the violent murder of two women.
A man is put on trial and condemned to death. He finds himself in a cell with a deep pit in the center and, above, a blade swinging back and forth on a pendulum.
An unnamed narrator describes how he killed a man; he tries to convince his listener of his sanity and wisdom. He believed his boarder, an old man, watched him with an “Evil Eye.”
Two middle-aged sisters run a small shop and live modestly. They start keeping company with a local clock seller, which changes their usual routine.  I know, this one is probably too long to be called a short story. I’ve included it because it could be read in one sitting if you really wanted to, and it’s one of my favorites.
While on vacation together in Rome, two middle-aged women talk about their past and their daughters.
Danyers is a young man who greatly admires the work of the late poet Vincent Rendle, and Rendle’s muse, Mary Anerton. A social acquaintance, Mrs. Memorall, knows Mary and passes along an essay that Danyers wrote. Eventually, they meet to discuss Rendle’s work.
The narrator is persuaded by his cousin Eleanor to visit a distressed gentlewoman and appraise a painting, which, if valuable, could ease her difficulties. He is able to determine the painting’s value, but he struggles to tell the lady directly.
An American couple is on vacation in Italy. The wife looks out the window at the rain and sees a cat huddled under a table. She wants to go down and take it in out of the rain.
At a train station, a man and woman have a casual conversation which transitions into something serious. It’s not explicitly stated what they’re talking about.
The narrator, a young man, is getting physical rehabilitation for a leg wound received at the front in WW I. Four other young men are also getting therapy. They hang out together after their sessions at the Café Cova.
The narrator tells the story of being with his father in Italy and France when he worked as a jockey. His father had an argument with some people after winning a race in Italy. In France he eventually buys his own horse to train and ride.
During the Spanish Civil War, an old man sits on the roadside, exhausted and discouraged.  Everyone is fleeing from the advancing fascist army.
The doctor hires some local Indian men to cut up a stray log for him. They argue when one of the men says the log is stolen.
Two hit men, Max and Al, enter a diner to get some food and to wait for their target to arrive. They’re looking for a boxer, Ole Andreson, whom their employer has a grudge against.
The Macomber’s are an American couple on an African safari. They have a guide, Wilson, a professional hunter, who will lead their outing. It is revealed that Francis had an embarrassing incident in an earlier hunt.
Charlie Wales returns to Paris to get back his daughter, Honoria. She has been living with his sister, Marion. Charlie is financially secure and has abandoned the partying and drinking that contributed to the death of his wife and loss of his daughter.
Bernice, a young woman, is visiting her cousin Marjorie. Marjorie is a big hit with all the young men while Bernice is struggling. After a disappointing evening dance, Bernice overhears Marjorie talking about how socially inept she is.
Beauty Boy and Lilymary get married. They work to better themselves. They have a child and things get tough.
A southern girl, Sally Carrol, goes swimming with some friends. Rumor has it she is engaged to a northerner. She feels tied down and wants some adventure. Sally Carrol goes to visit her fiancé’s family and hometown in the winter.
Dexter Green is a fourteen-year-old caddy, working for pocket money. He quits one day when Judy Jones, a beautiful eleven-year-old, treats him as an inferior. Years later he goes into business and becomes a success.
Pat Hobby is forty-nine and a writer. During his morning’s work, he comes up with a good line. The script he’s working on has a doctor in it, so he goes to the Red Cross Station to make sure his writing is realistic.
Mrs. Cope owns a large farm. She is protective of her property and feels she is good at handling whatever comes up. One day, three boys visit her; the father of one of the boys used to work for Mrs. Cope. That boy, Powell, remembers the farm and has been telling his friends about it. They want to enjoy farm life for a while.
An extended family is headed to Florida for a vacation. The grandmother wants to go to Tennessee instead, so she talks about an escaped murderer—The Misfit—who is suspected to be on his way to Florida.
General George Poker Sash is a 104-year-old American Civil War veteran. He gets invited to attend some events because of his age and veteran status. His granddaughter, 62-year-old Sally Poker, prays that he will live to attend her college graduation so everyone will see she has a superior background.
A famous gorilla from the movies is making a tour of some small theatres. Enoch Emery goes to meet it, with the plan of insulting it. When he gets embarrassed at the event, he decides to do something about it.
Julian, a young man, accompanies his mother on a bus ride. It is the 1960’s South, and she doesn’t like riding alone because of integration. She is poor but is proud that she comes from a once prosperous pre-Civil War family. She also brags about her son to those nearby.
Mrs. Hopewell is a widow who runs her farm. Her daughter, Joy, has an artificial leg from a hunting accident as a child. Mrs. Hopewell is a Christian; Joy is an atheist with a Ph.D. Mrs. Hopewell likes “good country people”, like her hired tenants, the Freemans. She and Mrs. Freeman like exchanging platitudes. Joy is introverted and believes she has life figured out. One day, a traveling Bible salesman calls on Mrs. Hopewell.
Tanner, an elderly white man from the South, goes to live with his daughter in New York. He thinks he knows how to deal with African-Americans, but when he tries befriending one of his daughter’s neighbors, things go wrong.
Parker is dissatisfied with his life. He’s not sure why he’s still with his wife—a deeply religious woman—and she’s pregnant. His main focus has been to get tattoos; there’s no room left on the front of his body. While driving a tractor, he has an experience that proves to be a turning point for him.
Mrs. Turpin and her husband are in a doctor’s waiting room.  Mrs. Turpin is racist and judgmental, and she attracts the attention of a young woman, who looks at her intently.
Mr. Head takes his ten-year-old grandson, Nelson, on a trip into the city. He wants to teach Nelson that the city isn’t a great place, so he will be content to live his life in the country.
While a man gets his hair cut, his barber ridicules his liberal views, especially his support of a black candidate in the neighborhood.
While doing her daily chore of wiping the crumbs off the dining table, Miss Willerton thinks about ideas for a story. She settles on writing about a sharecropper because it’s an arty subject with social implications.
A Polish refugee and his family arrive at Mrs. McIntyre’s farm to work for her. The man, Mr. Guizac, proves to be an industrious and efficient worker. The Shortleys, a couple who also work on the farm, become concerned about their position. Mrs. McIntyre rules over her little domain, managing her affairs to give herself the most profit.
Old Dudley leaves his boarding house in the South to live with his daughter in her New York apartment. Dudley is unhappy with the change, and spends a lot of time looking out the window at a geranium on a neighboring windowsill.
A boy is in mourning over the death of his mother while his father is focused on helping others. He takes a special interest in a certain troubled child, inviting the boy to stay in their home.
An old woman and her daughter live on a run-down farm. The woman hires a drifter, Mr. Shiftlet, to do work around the place in exchange for shelter. She’s angling to marry off her daughter to him.
Harry, a young boy, is picked up early in the morning by his babysitter, Mrs. Connin. His mother is sick. Mrs. Connin is going to take him to see the Reverend Bevel Summers, a traveling preacher who’s going to perform a healing at a local river.
Haze, nineteen, is travelling by train to Taulkinham. The porter reminds him strongly of a man he used to know; he might even be the man’s son. He tries to find a way to talk to him.
Ruller, a young boy, is playing outside when he catches sight of a wild turkey in the bushes. He starts fantasizing about how impressed everyone would be if he caught it. He sees the turkey is injured and decides to go after it.
There are reports of a wildcat loose in the area. The young men are planning to hunt it down, while “Old Gabriel”, an elderly, blind man, is afraid of being attacked by the cat, which he claims to be able to smell.
Jeff is an inmate at Spiderhead, a research facility. Along with others, he tests drugs that affect his speech, perception, and feelings for people. He’s there because of a fateful day from his past.
The narrator is a waiter/stripper at a restaurant for women. He lives in a subsidized apartment with his sister, Min; his cousin, Jade; and his aunt, Bernie. Min and Jade also have babies. They don’t have much and they live in a bad area. The narrator gets a panicked call from Min while he’s at work.
A father has a pole in his yard that he dresses according to the occasion.
A young girl is killed by dogs. Some men in the village look for the dogs and shoot them. They turn their attention to other dogs that might also be dangerous. Their enthusiasm for making the village safe gets out of hand.
A dead woman’s adult children, a judge and a nun, sit vigil and read her old letters which reveal a secret from her past.
A man is walking to the market one day when he stops to pick up a piece of string. Soon after, it is reported that a wallet with 500 francs was lost. His act of picking up something makes him a suspect. He vehemently denies any guilt.
A narrator gives us a recollection of the life of Mother Bellflower, an old seamstress with a bad leg and a mysterious past.
A young farmhand beats and starves a nag in his care.
A ship’s captain tells some passengers about a time he felt afraid. One of the men objects, saying the captain doesn’t know what real fear is. He tells his own story to illustrate his point.
The narrator’s old acquaintance tells him the story of Mother Sauvage. Her son went to war fighting the Prussians. Meanwhile, Prussian forces occupy her home territory, and she has four soldiers assigned to live in her home. Both sides understand the situation, and she treats them well. When she gets news of her son’s death her attitude towards them changes.
A sixty-two year old bachelor thinks about his lonely life, and of a woman that he has always loved.
A doctor recounts the christening custom of his god-son’s people, where the baby is left exposed to the cold.
A woman makes a death-bed confession to her older sister about something that happened over 40 years ago.
Simon and Jeanne are newly married. Simon plans to use Jeanne’s large dowry to buy a legal practice. They take a trip to Paris to enjoy each others company and to make the purchase.
Monsieur Lantin is a government clerk. He and his wife are very happy. He is amazed by his wife’s ability to handle their finances. Madame Lantin has two vices: she loves going to the theater and she loves jewelry—she comes home nearly every night with a new piece of costume jewelry.
A woman is upset when her husband leaves. Her aunt thinks she kissed her husband too much, so she explains the power of and proper use of the kiss.
Mathilde borrows a necklace from a rich friend to wear to a party, but she loses it.
Two men, now members of the Paris National Guard because of an attack by Prussian soldiers, meet up with each other in the street. They reminisce about the fishing they did before the war, and decide to try and go back to their fishing spot, even though it’s in no man’s land.
Two soldiers take a weekly Sunday rest and meal at a little spot in the country. They become acquainted with a milk maid who passes by.
The narrator recounts the time he was employed in Alfred Wunsiedel’s factory. Wunsiedel was obsessed with taking action, and required his employees to be constantly busy. The narrator is a man of leisure, but manages to fit in to the company culture.
Tom King is an aging prize-fighter preparing for a bout. He doesn’t have a sparring partner or enough food to be at his best. Money is tight and the tradesmen won’t give him credit anymore. He needs the win bonus from his next fight for himself, his wife, and his kids.
Sitka Charley is relaxing after a day on the Alaskan trail. He and the narrator start talking about a painting, which reminds Sitka of an arduous journey he once made. When he was a letter carrier on Lake Linderman, a young woman hired him to take her to Dawson. Then she hires him to travel with her. She is desperately looking for something but doesn’t tell him what.
Sitka Charley is an Indian who has left his own people to learn the white man’s sense of honor and the law. He’s a member of a traveling party led by Captain Effingwell. Only Sitka and the Captain are armed. Sitka warns two other Indians with their crew to carry out their duties properly.
A group of men are in the Alaskan wilderness in a bar after a long day’s work. A visitor named Westondale comes in, tells a story about following someone, talks about his family, and asks to be awakened in a few hours so he can continue on his journey. Shortly after the police arrive with a different story.
